.cont{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.bo{
    border: 1px solid blue;
}
.ytr{
    margin: 20px;
    width: 350px;
}
.a{
    border: none;
    background:none;

}
.aa{
    border: none;
    background:none;
    color: orange;
}
.line{
    display: block;
}
.left{
    text-align: left;
    margin-left: 0px;
}
.ac{
    margin-left: 100px;
}